@keyframes translate {
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes translate {
    0%{
        transform: translateX(-1000px);
 
    }
    
    100%{
        transform: translateX(0px);
    
    }
}